@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #383838;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  position: relative;
  z-index: 1;
  background-color: #f1f1f1;
  color: #000000;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
  /* Add this to ensure the background is solid */
  box-shadow: 0 0 0 4px #f1f1f1;
}

.circle.active {
  border-color: var(--line-border-fill);
  background-color: #e7f7fa;
  animation-name: pop;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  font-size: 130%;
  font-weight: 1000;
}

.circle:not(.active) {
  transform: scale(0.9);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease;
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
  transform: scale(1);
}

@keyframes pop {
  0% {
    transform: scale(0.8);
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}