@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(234, 255, 217);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  width: 80vw;
  margin: auto;
}


#text {
  text-align: center;
}

div {
  position: absolute;
  bottom: 20px;
  background: rgba(9, 105, 31, 0.1);
  padding: 10px 20px;
  font-size: 18px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: rgb(172, 234, 201);
  border: none;
  text-align: center;
}

input:focus {
  outline: none;
}